<h1> Welcome to our blog </h1>

<ul>
<% @blogs.each do |blog| %>
    <li>
        <%= link_to blog.title, blog_path(blog) %>
        
    </li>
<% end %>
</ul>
<%= link_to 'create a new blog', new_blog_path %>
        